# OS
.DS_Store
Thumbs.db

# dependencies
node_modules/

# env files (keep .env.example)
.env
.env.local
.env.*.local

# build output
dist/
build/
.next/
out/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
